body {
  background-color: deepskyblue;
}

.App {
  text-align: center;
}

textarea {
  font-size: 30pt;
  text-align: center;
  width: 50%;
}

button {
  background-color: goldenrod;
  font-size: 25pt;
}

.success-message {
  background-color: green;
  color: white;
  padding: 0.3%;
  width: 30%;
  right: -1000px;
  position: absolute;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% { right: 0; }
}

.cross {
  position: absolute;
  right: 10px;
  margin-top: 4px;
  font-size: 22px;
  background-color: red;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.close {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}